<h1 class="text-center">Favorites</h1>



<div *ngIf="recipes$ | async as recipes ; else loader" class="container">
  <div *ngIf="recipes.length>0;else empty">
    <div class="row">
      <div class="col-4" *ngFor="let recipe of recipes;let i = index">
        <app-recipe-card [recipe]="recipe" [index]="i"></app-recipe-card>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="text-center">not found...</div>
  </ng-template>

</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
