<div class="text-center">
  <h2>
    <a href="#" (click)="onBack($event)">
      <i class="fas fa-arrow-circle-left"></i>
    </a> Edit
  </h2>
</div>


<div *ngIf="recipe;else loader">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <form (ngSubmit)="onSubmit()">

          <div class="card mb-3">
            <img class="card-img-top" src="{{photoUrl}}" height="250">
          </div>

          <div class="form-group">
            <label for="photo">photo</label>
            <textarea class="form-control"
                      (input)="onChangeImg($event)"
                      id="photo"
                      [formControl]="f.controls['photoUrl']"
                      [class.has-error]="f.get('photoUrl').invalid"
                      placeholder="photoURL"></textarea>
          </div>

          <div class="form-group">
            <label for="title">title</label>
            <textarea class="form-control"
                      id="title"
                      aria-describedby="titleHelp"
                      placeholder="title"
                      [formControl]="f.controls['title']"
                      [class.has-error]="f.get('title').invalid"></textarea>
            <small id="titleHelp" class="form-text text-right">
              2/ {{f.get('title').value?.length}} /50
            </small>
          </div>


          <div class="form-group">
            <label for="description">description</label>
            <textarea class="form-control"
                      id="description"
                      aria-describedby="descriptionHelp"
                      [formControl]="f.controls['description']"
                      [class.has-error]="f.get('description').invalid"
                      placeholder="description"></textarea>
            <small id="descriptionHelp" class="form-text text-right">
              2/ {{f.get('description').value?.length}} /50
            </small>
          </div>


          <div class="form-group">
            <label for="instructions">instructions</label>
            <textarea class="form-control"
                      id="instructions"
                      aria-describedby="instructionsHelper"
                      [formControl]="f.controls['instructions']"
                      [class.has-error]="f.get('instructions').invalid"
                      placeholder="description"></textarea>
            <small id="instructionsHelper" class="form-text text-right">
              2/ {{f.get('instructions').value?.length}} /1000
            </small>
          </div>



          <div class="form-group" *ngIf="categories$|async as categories; else loadCat">

            <label for="SelectCat">select category</label>
            <select class="form-control" id="SelectCat" (change)="onCategoryChange($event)">
              <option [value]="recipe.categoryId" disabled selected>{{findCatName(categories)}}</option>
              <option *ngFor="let c of categories" value="{{c._id}}">{{c.name}}</option>
            </select>
          </div>

          <ng-template #loadCat>
            <div class="form-group">
              <button (click)="loadCategories()"
                      class="btn form-control btn-danger" type="button">reset</button>
            </div>
          </ng-template>


          <ul *ngIf="recipe.ingridients.length>0">
            <ng-container *ngFor="let ing of recipe.ingridients;let i = index">
              <app-ingridient [index]="i" [ingridient]="ing" ></app-ingridient>
            </ng-container>
          </ul>

          <div class="form-group">


            <button (click)="loadRecipe(recipe._id)"
                    class="btn form-control btn-danger" type="button">reset</button>

            <button [disabled]="!f.valid"
              class="btn form-control btn-dark" type="submit">update</button>

          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
